* {
  box-sizing: border-box;
  font-family: "Monolisa", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.container {
  border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  padding: 1rem;

  display: grid;
  grid-template:
    "header header"
    "description description"
    "input submit"
    "answer answer";
  flex-direction: column;
   width: auto;
  max-width: 600px;
  height: 100vh;
  max-height: 200px;
}
.container h2 {
  margin-bottom: 0.5rem;
  grid-area: header;
}
.container p {
  /* margin-bottom: 1rem; */
  grid-area: description;
}
input[type="text"] {
  padding: 0.8rem 1.5rem;
  border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  width: 80%;
  margin-bottom: 1rem;
  grid-area: input;
}
button {
  grid-area: submit;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(95 97 110);
  color: white;
  cursor: pointer;
  align-items: center;
  align-content: center;
  /* animation: scaleUp 0.5s ease-in-out; */
}
button:hover {
  background-color: rgb(75 77 90);
  animation: scaleUp 0.5s ease-out;
  transform: scale(1.1);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.answer-class {
  margin-top: 1.5rem;
  font-weight: bold;
  grid-area: answer;
}
